*.log
.DS_Store
Thumbs.db

.env
.env.*
.env.backup
.env.production

/vendor
/node_modules

/storage/*.key
/storage/logs/*
/storage/framework/*
/storage/pail

/bootstrap/cache*

/public/build
/public/hot
/public/storage

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.idea
/.vscode
/.fleet
/.zed
/.nova

/auth.json
Homestead.json
Homestead.yaml
